* {
    margin: 0;
    padding: 0px;
    border: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    text-align: center;
}

.button-box{
    display:flex;
    justify-content: center;
    margin: 1vw;
}

button{
    color: fuchsia;
}

#outerDiv {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    margin: auto;
    padding: auto;
}

.row {
    display:flex;
    max-width:500px;
}

.column {
    width:2vw;
    aspect-ratio: 1 / 1;
    border:1px solid black;
    flex-shrink: 1;


}