* {
    margin: 0;
    padding: 0px;
    border: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    text-align: center;
}

.button-box{
    display:flex;
    justify-content: center;
    margin: 1vw;
}

button{
    color: fuchsia;
}

#outerDiv {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    aspect-ratio: 1 / 1;
    margin: auto;
}

.row {
    display:flex;
    width:30vw;
}

.column {
    width:100%;
    aspect-ratio: 1 / 1;
    border:0px;
    flex-shrink: 1;


}